<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/default.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Chatbot</title>
</head>

<body>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h1>Chatbot</h1>
        </div>
    </div>

    <div class="row">
        <div class="col h-100">
            <div id="chatbox" class="border border-info rounded">
                <div class="p-3 mb-2 bg-secondary text-white rounded">Hi! Ask me a question.</div>
            </div>
        </div>
    </div>

    <div class="row force-to-bottom">
        <div class="col">
            <div class="input-group mb-3">
                <input id="textInput" class="form-control" type="text" name="msg" placeholder="Ask your question here..." required>
                <div class="input-group-append">
                    <input id="buttonInput" class="btn btn-primary btn-md" type="submit" value="Send">
                </div>
            </div>
        </div>
    </div>

</div>

    <script>
        function getBotResponse() {
            let textInput = $("#textInput");
            const rawText = textInput.val();
            if(rawText === "")
                alert("Please ask a question...");
                {#$("#buttonAlert").addClass('show');#}
            else {
                const userHtml = '<div class="p-3 mb-2 bg-info text-white rounded">' + rawText + '</div>';
                textInput.val("");
                let chatbox =  $("#chatbox");
                chatbox.append(userHtml);
                chatbox.animate({ scrollTop: chatbox[0].scrollHeight }, 1000);
                $.get("/get", {msg: rawText}).done(function (data) {
                    const botHtml = '<div class="p-3 mb-2 bg-secondary text-white rounded">' + data + '</div>';
                    chatbox.append(botHtml);
                    $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
                });
            }
        }
        $("#textInput").keypress(function(e) {
            if(e.which === 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            getBotResponse();
        })
    </script>


{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
