<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/default.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>

    <title>Chatbot</title>
</head>

<body>
<h1>C++ Chatbot</h1>
<div>
    <div id="chatbox">
        <div class="botText">Hi! Ask me a question.</div>
    </div>
    <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message" required>
        <input id="buttonInput" type="submit" value="Send">
    </div>
    <script>
        function getBotResponse() {
            const rawText = $("#textInput").val();
            if(rawText === "")
                alert("Please ask a question...");
            else {
                const userHtml = '<div class="userText">' + rawText + '</div>';
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                $.get("/get", {msg: rawText}).done(function (data) {
                    const botHtml = '<div class="botText">' + data + '</div>';
                    $("#chatbox").append(botHtml);
                    //document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                    $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
                });
            }
        }
        $("#textInput").keypress(function(e) {
            if(e.which === 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            getBotResponse();
        })
    </script>
</div>

</body>
</html>
