{% extends "base.html" %}
{% set active_page = "home" %}

{% block app_content %}
    <div class="row h-100 flex-fill d-flex">
        <div class="col">
            <div id="chatbox" class="border border-secondary rounded">
                <div class="p-3 mb-2 bg-dark text-white rounded">
                    Hi! Ask me a question.
                    <br><br>
                    <b>Tip:</b> For more information about what you can do, click the "<b>Help</b>" button or click <a href="#" class="helpLink">here</a>.
                </div>
            </div>
        </div>
    </div>

    <div class="row force-to-bottom flex-shrink-0">
        <div class="col">
            <div class="input-group mb-3">
                <input id="textInput" class="form-control" type="text" name="msg" placeholder="Ask your question here..." required>
                <div class="input-group-append">
                    <input id="buttonInput" class="btn btn-primary btn-md" type="submit" value="Send">
                </div>
            </div>
        </div>
    </div>

    {% block templates %}
    <script id="feedbackTmpl" type="text/x-jsrender">
        <hr/>
        <div class="row row-id-<%:btn_id%>">
            <div class="col-sm-4 my-auto">
                <strong>Did this information answer your question?</strong>
            </div>
            <div class="col-sm-6">
                <div class="btn-group mr-2" role="group" aria-label="Yes">
                    <button type="button" onClick="getFeedback('.row-id-<%:btn_id%>', 'yes');" class="btn btn-sm btn-success custom-button-width .navbar-right">Yes</button>
                </div>
        
                <div class="btn-group mr-2" role="group" aria-label="No">
                    <button type="button" onClick="getFeedback('.row-id-<%:btn_id%>', 'no');" class="btn btn-sm btn-danger custom-button-width .navbar-right">No</button>
                </div>
                or
                <div class="btn-group mr-2" role="group" aria-label="Alternate response">
                    <button type="button" class="btn btn-sm btn-primary custom-button-width" onClick="getBotResponse('alternate response')">Alt response</button>
                </div>
            </div>
        </div>
    </script>

    <script id="spinnerTmpl" type="text/x-jsrender">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </script>

    <script id="warningTmpl" type="text/x-jsrender">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong><%:title%></strong> <%:body%>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </script>

    <script id="messageTmpl" type="text/x-jsrender">
        <div class="p-3 mb-2 bg-<%:bg_col%> text-white rounded">
            <%:text%>
        </div>
    </script>

    <script id="feedbackMsgTmpl" type="text/x-jsrender">
        <div class="row">
            <div class="col my-auto">
                <strong class="d-inline-block align-middle">Thank you for the feedback!</strong>

                <%if feedback_no%>
                    <button type="button" class="align-centre btn btn-sm btn-primary" onClick="getBotResponse('alternate response')">Alternate response</button>
                <%/if%>
            <div>
        </div>
    </script>
    {% endblock %}
{% endblock %}