<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/spinkit.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/tomorrow-night.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
    <script src="static/js/typopo.min.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>C++ Chatbot</title>
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>C++ Chatbot</h1>
        </div>
    </div>

    <div class="row">
        <div class="col h-100">
            <div id="chatbox" class="border border-info rounded">
                <div class="p-3 mb-2 bg-dark text-white rounded">
                    Hi! Ask me a question. <br/>
                    <b>Tip:</b> <i>You can ask for <b><a href="#" id="helpLink">help</a></b>
                    or an <b>alternate response</b> to your last question</i>.
                </div>
            </div>
        </div>
    </div>

    <div class="row force-to-bottom">
        <div class="col">
            <div class="input-group mb-3">
                <input id="textInput" class="form-control" type="text" name="msg" placeholder="Ask your question here..." required>
                <div class="input-group-append">
                    <input id="buttonInput" class="btn btn-primary btn-md" type="submit" value="Send">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script type="text/javascript" src="static/js/chatbot.js"></script>
</body>
</html>
