body {
    font-family: Garamond;
}

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 60vh;
    margin-top: 60px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 60vh;
    white-space: pre-wrap;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#textInput {
    width: 87%;
    border: none;
    border-bottom: 3px solid #009688;
    font-family: monospace;
    font-size: 17px;
}

#buttonInput {
    padding: 3px;
    font-family: monospace;
    font-size: 17px;
}

.userText {
    background-color: #009688;
    color: white;
    font-family: monospace;
    font-size: 17px;
    padding: 10px;
    text-align: left;
    line-height: 20px;
    margin-top: 20px;
}

.botText {
    background-color: #EF5350;
    color: white;
    font-family: monospace;
    font-size: 17px;
    padding: 10px;
    text-align: left;
    line-height: 20px;
    margin-top: 20px;
    word-wrap: normal;
}

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #265301;
}

a:visited {
  color: #437A16;
}

a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

a:hover {
  border-bottom: 1px solid;
  background: #CDFEAA;
}

a:active {
  background: #265301;
  color: #CDFEAA;
}