html, body {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a:not(.no-underline) {
    text-decoration:none;
    border-bottom: 1px solid #35729b;
    box-shadow: inset 0 -4px 0 #35729b;
    color: inherit;
    transition: background 0.1s cubic-bezier(.33,.66,.66,1);
}

a:hover:not(.no-underline) {
    color: inherit;
    text-decoration:none;
    background: #35729b;
}

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

.page-title {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 4vh;
}

#chatbox {
    width: 100%;
    height: 84%;
    overflow-y: auto;
    overflow-x: hidden;
}

.force-to-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

hr {
    background: white;
}

.custom-button-width {
	width:100px;
}