html, body {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    width: 100%;
    max-height: 100% !important;
    font-size: 16px;
}

h1 {
    color: black;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#chatbox {
    height: 77vh !important;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid darkgray;
    border-radius: 8px;
}

.force-to-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

hr {
    background: white;
}

.custom-button-width {
    width:100px;
}

li.fa-ul {
    font-size : 2em;
    margin: 1em 0;
}

li.fa-ul > *{
    display: inline-block;
    vertical-align: middle;
}

a:not(.no-underline) {
    color: #5499C7;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .5s;
}

a:hover:not(.no-underline), a:focus:not(.no-underline) {
    color: #5499C7;
    text-decoration: none;
    background-size: 100% 2px;
}

.bg-darker {
    background: #343A40;
}

.bg-user {
    background: #17A2B8;
}