body {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    height: 80vh;
}

a:not(.no-underline) {
    text-decoration:none;
    border-bottom: 2px solid #9b0e27;
    box-shadow: inset 0 -4px 0 #9b0e27;
    color: inherit;
    transition: background 0.1s cubic-bezier(.33,.66,.66,1);
}

a:hover:not(.no-underline) {
    color: inherit;
    text-decoration:none;
    background: #9b0e27;
}

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

.page-title {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

#chatbox {
    width: 100%;
    height: 78vh;
    max-height: 78vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.force-to-bottom {
    position: absolute;
    bottom: 2%;
    width: 100%;
}

hr {
    background: white;
}

.custom-button-width {
	width:150px;
}
